@font-face {
  font-family: iranYekan;
  src: url(./Yekan.woff2);
  font-display: fallback;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: iranYekan,monospace
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
