@font-face {
  font-family: iranYekan;
  src: url(./Yekan.woff2);
  font-display: fallback;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: iranYekan, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination-bullet
 {
background-color: black !important
}

.swiper-pagination-bullet-active{
  background-color: white !important
}

@media (max-width:650px) {
  .swiper-button-next::after,
  .swiper-button-prev::after  {
    font-size: 1rem !important
  }
  .swiper-pagination-bullet{
    width: 5px !important;
    height: 5px !important
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
