@font-face {
  font-family: "Vazir";
  src: url(./Vazirmatn-Medium.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazir, monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* checkbox */

/* input[type="checkbox"] {
  /* accent-color: rgb(251 146 60);
}*/


/* rangeslider */

.range {
  position: relative;
}

.wrapper {
  position: absolute;
  height: 5px;
  width: 100%;
}

input[type="range"] {
  appearance: none;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  width: 100%;
}

.slider-track {
  top: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  /* background-color: #e0e5e6; */
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  height: 5px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 17px;
  width: 17px;
  background-color: #19bfd3;
  cursor: pointer;
  pointer-events: all;
  margin-top: -8px;
  border-radius: 50px;
}

/* slider */

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination-bullet {
  background-color: black !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

@media (max-width: 650px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1rem !important;
  }
  .swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
